<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paceeats">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PaceEats">
        <activity
            android:name=".AddWeightActivity"
            android:label="Add Weight Activity"
            android:parentActivityName=".WeightActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".AboutActivity"
            android:exported="true"
            android:parentActivityName=".MoreActivity" />
        <activity
            android:name=".FoodRecommendations"
            android:exported="true"
            android:parentActivityName=".MoreActivity" />
        <activity
            android:name=".SetGoalsActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NutritionActivity"
            android:label="Nutrition Activity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.paceeats.MainActivity" />
        </activity>
        <activity
            android:name=".WeightActivity"
            android:label="Weight Activity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.paceeats.MainActivity" />
        </activity>
        <activity
            android:name=".MoreActivity"
            android:label="More Activity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.paceeats.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>